*, 
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:500|Open+Sans:400,600,700');

html, body {
  height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #555;
}

header {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  background: url(https://media.giphy.com/media/dwaeIbBnF6HBu/giphy.gif);
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
  text-shadow: 1px 1px 2px grey;
  color: white;
}

main {
  height: 90vh;
  padding: 5px;
  margin: 0 auto;
  background: rgb(252,202,70);
}

section {
  display: none;
  padding: 5px;
  border-top: 1px solid #ddd;
  background-color: #ededed;
  height: 95%;
}

.tabs {
  display: none;
}

.tabs-label {
  display: inline-block;
  margin: 0 0 -2px;
  padding: 0 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  height: 5%;
}

.tabs-label:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.tabs-label:hover {
  color: #888;
  cursor: pointer;
}

.tabs:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #ededed;
  background-color: #ededed;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: flex;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

.sidebar {
  flex: 30%;
  padding: 5px 10px 5px 0;
}

#main {
  flex: 70%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: scroll;
  background-color: rgb(35,61,77);
  /* height: 100%; */
}

#favorites {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: scroll;

}
img {
  vertical-align: middle;
  margin-bottom: 5px;
}

.img-holder {
  flex: none;
  padding: 5px;
  margin: 5px;
  /* border: 1px solid rgb(232, 234, 237); */
  border-radius: 3px;
  background-color: rgba(87,156,135);
}

.img-holder div {
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  line-height: 1.2rem;
  font-weight: 500;
  color: rgba(0, 0, 0, .72);
}

input[type="text"] {
  display: block;
  width: 100%;
}

#create-btn {
  background-color: rgb(161,193,129);
  width: 100%;
  margin: 2px 0;
  /* margin: 2px;
  border-radius: 2px; */
}

.fav, .del, .download {
  float: right;
  cursor: pointer;
  font-size: 1.2rem;
  color: rgb(254,127,45);
}

.download {
  margin-right: 5px;
}

.rating-div {
  padding-top: 2px;
}

.fav:hover,
.del:hover,
.download:hover {
  text-shadow: 2px 2px 1px white;
}

.fav:active,
.del:active,
.download:active {
	position: relative;
	top: 1px;
}

/* .fav::before,
.del::before,
.fav::after,
.del::after {
  content: "";
  clear: both;
  display: table;
} */

/* button 
---------------------------------------------- */
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
/* color styles 
---------------------------------------------- */
/* blue */
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}



